h1 {
  font-size: 70px;
  font-family: VT323, monospace;
  color: blueviolet;
  text-shadow: 1px 0 rgb(219, 208, 208), 0 1px black, -1px 0 black, 0 -1px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  margin-bottom: 20px;
}

#turn-indicator {
  font: bolder 30px vt323;
}

.game-board {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 10px;
}

@media (max-width: 440px) {
  .game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
  }
  h1 {
    margin-bottom: 15px;
    margin-top: 22px;
    font-size: 50px;
  }
}
