@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  color: black;
  text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  gap: 20px;
  margin-top: 50px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #004080;
}

.attempts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #004080;
}

.theme {
  margin-top: 20px;
}
.card {
  width: 120px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #004080;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.1s;
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.75);
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: 0.3s;
}

#home-btn {
  position: absolute;
  background-color: transparent;
  color: #ed1919;
  top: 10px;
  left: 10px;
  font-size: 50px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

#home-btn:hover {
  transform: scale(1.4);
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #004080;
}

.attempts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #004080;
}

.theme {
  margin-top: 20px;
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://media.x-decks.com/wp-content/uploads/20240409190556/65268-alt3.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transform: rotateY(180deg);
  transition: opacity 0.3s;
  transform-style: preserve-3d;
}

.card.flipped::before {
  opacity: 0;
  transform-style: preserve-3d;
  transition: 0.5s;
  backface-visibility: hidden;
}

.card.flipped {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 245, 248, 1) 30%,
    rgba(230, 223, 230, 1) 100%
  );
  transition: all 0.5ss;
  transform: rotateY(180deg);
}

.card.flipped::after {
  content: attr(data-value);
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  z-index: 2;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: white;
  border: 2px solid red;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Shared pixelated text styling for all text in popups */
.popup .pixelated-text {
  color: black;
  text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red;
}

/* Button styling for all popup buttons */
.popup button {
  background-color: rgb(144, 53, 53);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 70px;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: rgb(224, 113, 113);
  border: solid 1px rgb(144, 53, 53);
}

audio {
  display: none;
}

@media (max-width: 880px) {
  .card-grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  }

  .card {
    width: 110px;
    height: 180px;
  }
}

@media (max-width: 810px) {
  .card-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .card {
    width: 100px;
    height: 180px;
  }
}

@media (max-width: 750px) {
  .card-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .card {
    width: 90px;
    height: 175px;
  }
}

@media (max-width: 690px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    width: 120px;
    height: 200px;
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    width: 100px;
    height: 180px;
  }
}

@media (max-width: 525px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 120px;
    height: 200px;
    gap: 25px;
  }

  .card.flipped::after {
    content: attr(data-value);
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  #home-btn {
    position: absolute;
    background-color: transparent;
    color: #ed1919;
    top: 5px;
    left: 5px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
  }

  #home-btn:hover {
    transform: scale(1.4);
  }
}

@media (max-width: 470px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 100px;
    height: 180px;
    gap: 25px;
  }

  h1 {
    font-size: 30px;
  }

  .popup {
    width: 60%;
    height: auto;
    max-height: 80%;
  }
  #home-btn {
    position: absolute;
    background-color: transparent;
    color: #ed1919;
    top: 5px;
    left: 5px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
  }

  #home-btn:hover {
    transform: scale(1.4);
  }
}
